src/META-INF/wsdl/localhost_8080/FlashlightServer/ServerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://spotlightppm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://spotlightppm.com/">

<xs:element name="getUserSettings" type="tns:getUserSettings"/>

<xs:element name="getUserSettingsResponse" type="tns:getUserSettingsResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="pushScreenshotImage" type="tns:pushScreenshotImage"/>

<xs:element name="pushScreenshotImageResponse" type="tns:pushScreenshotImageResponse"/>

<xs:element name="pushUseageStats" type="tns:pushUseageStats"/>

<xs:element name="pushUseageStatsResponse" type="tns:pushUseageStatsResponse"/>

<xs:element name="pushWebcamImage" type="tns:pushWebcamImage"/>

<xs:element name="pushWebcamImageResponse" type="tns:pushWebcamImageResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserSettings">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserSettingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:userSettings" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userSettings">
<xs:sequence>
<xs:element name="screenshotMaxInterval" type="xs:long"/>
<xs:element name="screenshotMinInterval" type="xs:long"/>
<xs:element name="screenshotResolution" type="xs:string" minOccurs="0"/>
<xs:element name="useScreenshot" type="xs:boolean"/>
<xs:element name="useUserStats" type="xs:boolean"/>
<xs:element name="useWebcam" type="xs:boolean"/>
<xs:element name="userStatsMaxInterval" type="xs:long"/>
<xs:element name="userStatsMinInterval" type="xs:long"/>
<xs:element name="webcamMaxInterval" type="xs:long"/>
<xs:element name="webcamMinInterval" type="xs:long"/>
<xs:element name="webcamResolution" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pushScreenshotImage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pushScreenshotImageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pushWebcamImage">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pushWebcamImageResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pushUseageStats">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="tns:timestamp" minOccurs="0"/>
<xs:element name="arg5" type="tns:timestamp" minOccurs="0"/>
<xs:element name="arg6" type="xs:long"/>
<xs:element name="arg7" type="xs:long"/>
<xs:element name="arg8" type="tns:timestamp" minOccurs="0"/>
<xs:element name="arg9" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pushUseageStatsResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>