src/META-INF/wsdl/localhost_8080/FlashlightServer/ServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spotlightppm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://spotlightppm.com/" name="ServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://spotlightppm.com/" schemaLocation="http://localhost:8080/FlashlightServer/ServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserSettings">
<part name="parameters" element="tns:getUserSettings"/>
</message>
<message name="getUserSettingsResponse">
<part name="parameters" element="tns:getUserSettingsResponse"/>
</message>
<message name="pushScreenshotImage">
<part name="parameters" element="tns:pushScreenshotImage"/>
</message>
<message name="pushScreenshotImageResponse">
<part name="parameters" element="tns:pushScreenshotImageResponse"/>
</message>
<message name="pushWebcamImage">
<part name="parameters" element="tns:pushWebcamImage"/>
</message>
<message name="pushWebcamImageResponse">
<part name="parameters" element="tns:pushWebcamImageResponse"/>
</message>
<message name="pushUseageStats">
<part name="parameters" element="tns:pushUseageStats"/>
</message>
<message name="pushUseageStatsResponse">
<part name="parameters" element="tns:pushUseageStatsResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="Server">
<operation name="getUserSettings">
<input wsam:Action="http://spotlightppm.com/Server/getUserSettingsRequest" message="tns:getUserSettings"/>
<output wsam:Action="http://spotlightppm.com/Server/getUserSettingsResponse" message="tns:getUserSettingsResponse"/>
</operation>
<operation name="pushScreenshotImage">
<input wsam:Action="http://spotlightppm.com/Server/pushScreenshotImageRequest" message="tns:pushScreenshotImage"/>
<output wsam:Action="http://spotlightppm.com/Server/pushScreenshotImageResponse" message="tns:pushScreenshotImageResponse"/>
</operation>
<operation name="pushWebcamImage">
<input wsam:Action="http://spotlightppm.com/Server/pushWebcamImageRequest" message="tns:pushWebcamImage"/>
<output wsam:Action="http://spotlightppm.com/Server/pushWebcamImageResponse" message="tns:pushWebcamImageResponse"/>
</operation>
<operation name="pushUseageStats">
<input wsam:Action="http://spotlightppm.com/Server/pushUseageStatsRequest" message="tns:pushUseageStats"/>
<output wsam:Action="http://spotlightppm.com/Server/pushUseageStatsResponse" message="tns:pushUseageStatsResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://spotlightppm.com/Server/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://spotlightppm.com/Server/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://spotlightppm.com/Server/loginRequest" message="tns:login"/>
<output wsam:Action="http://spotlightppm.com/Server/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserSettings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pushScreenshotImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pushWebcamImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pushUseageStats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerService">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://localhost:8080/FlashlightServer/ServerService"/>
</port>
</service>
</definitions>